body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #AAAAAA;
  cursor: default;
}

.container {
  display: block;
  width: 55%;
  margin: 0 auto;
}

.inputContainer {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.taskInput {
  width: 80%;
  padding: 10px;
  border-radius: 8px;
}

input.taskCheckbox:checked + label.taskLabel {
  text-decoration: line-through;
  color: #656565;
}

input[placeholder] {
  font-size: 1.1em;
}